*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 198, 148);
    color: rgb(59, 59, 201);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background: rgb(40, 196, 131);
    padding: 20px;
}

header > h1 {
    color: rgb(76, 105, 21);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



#results > p {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.choices {
    display: inline-block;
    margin: 40px 20px;
    border: 4px solid rgb(6, 201, 107);
    padding: 35px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.morechoices {
    display: inline-block;
    transition: all 0.2s ease;
}

.choices:hover {
    cursor: pointer;
    background: rgb(87, 240, 215);
}

.morechoices:hover {
    cursor: pointer;
    background: rgb(172, 152, 206);
}

#action {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0;
    font-size: 25px;
}
#reset {
    background-color: rgb(32, 231, 21);
    border-radius: 15px;
    color: rgb(59, 59, 201);
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#reset:hover {
    color: rgb(54, 6, 6);
    background-color: rgb(138, 228, 173);
    cursor: pointer;
}
img {
    width: 150px;
    height: 250px;
}